<footer style="text-align: center; padding: 5px; color: #F0FFF0; background: #FF4500;">
	<p>
		Copyright &copy; 2015
		<%= link_to 'The Pragmatic Studio', 'http://pragmaticstudio.com' %>
	</p>
</footer>
