@import "colors";

header#page-header {
	padding: 5px;
	color: $secondary-color;
	background-color: $primary-color;
	border-bottom: 5px solid darken($primary-color, 15%);

	h1 {
		text-align: center;
		text-transform: uppercase;
	}
}

footer#page-footer {
	padding: 5px;
	color: $primary-color;
	background-color: $secondary-color;
	border-top: 5px solid darken($secondary-color, 15%);
}

aside#sidebar {
	background-color: $secondary-color;
	width: 200px;
	float: right;
}
